/*
#    Unless explicitly acquired and licensed from Licensor under another license, the contents of
#    this file are subject to the Reciprocal Public License ("RPL") Version 1.5, or subsequent
#    versions as allowed by the RPL, and You may not copy or use this file in either source code
#    or executable form, except in compliance with the terms and conditions of the RPL
#
#    All software distributed under the RPL is provided strictly on an "AS IS" basis, WITHOUT
#    WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND LICENSOR HEREBY DISCLAIMS ALL SUCH
#    WARRANTIES, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
#    PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific language
#    governing rights and limitations under the RPL.
#
#    http://opensource.org/licenses/RPL-1.5
#
#    Copyright 2012-2016 Open Justice Broker Consortium
*/

.filterrow div select { float: left; }
.filterrow .filters div { margin-right: 20px; }
.radio { margin-top: 0; margin-bottom: 5px; }
.export { float: right; }
.glyphicon { float: right; }
.toprow .dashboard { text-align: right; margin-top: 10px;}
.timeline-slider { display: none; }
.navli {margin: 6px; }
.slider-label {margin-right: 15px; }
#wait-pane {
	position: absolute;
	background-color: #7e7e7e;
	opacity: 0.75;
	filter: alpha(opacity=75);
	background-image: url('loading.gif');
	background-position: center;
	background-repeat: no-repeat;
	z-index: 10000;
	display: none;
}
[class*="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}
.multi-widget-td { padding: 5px; width: 50%;}